* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Sniglet", cursive;
}
/* body {
  background-color: #191a19;
} */

/* Header Styles */
.selected {
  border-bottom: 2px solid #191a19;
}
.header {
  background-color: #d8e9a8;
  position: sticky;
  top: 0;
  border-bottom: 3px solid #191a19;
  box-shadow: 2px 2px 5px #191a19;
}
.header .container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.logo{
  width: 150px;
}
.nav ul {
  display: flex;
  justify-content: space-around;
}
.nav li {
  padding: 5px 15px;
  list-style: none;
  margin: 0px 5px;
}
.nav a {
  text-decoration: none;
  color: #191a19;
  font-weight: bold;
}
.nav a:hover {
  border-bottom: 1px solid #191a19;
}
/* End Header Styles*/

/*Banner Styles */
.main {
  background-image: url(/images/Animated\ Shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 200px 0px 0px;
  margin: 250px 0px;
}
.text h2 {
  color: #d8e9a8;
  font-size: 45px;
  margin-bottom: 40px;
}
.text__paragraph {
  color: #d8e9a8;
  margin-bottom: 50px;
  font-size: 20px;
}
.img__banner {
  width: 500px;
  height: 500px;
}
.btn {
  align-self: flex-start;
  padding: 10px 25px;
  color: #191a19;
  background-color: #d8e9a8;
  border-radius: 10px;
  border: 1px solid #191a19;
  font-family: "Sniglet", cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: #1e5128;
  color: #d8e9a8;
}
.courses {
  background-color: #d8e9a8;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.allcourses {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 100px 0px;
}
.courses__offer {
  margin: 20px 0px;
}
.courses__offer h2 {
  color: #191a19;
  /* text-align: center; */
  /*  padding: 20px 0px; */
  margin-bottom: 30px;
  font-size: 36px;
}
.line {
  width: 10%;
  border: 3px solid #191a19;
  margin-bottom: 50px;
}
.courses__offer p {
  margin-bottom: 50px;
  padding-right: 70px;
  line-height: 1.5;
}
.paragraph1 {
  font-weight: bold;
}
/* End Banner Styles */

/* Courses Styles */
.courses__table1,
.courses__table2 {
  box-shadow: 0px 0px 5px #191a19;
  background-color: #1e5128;
}
.web {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  color: #d8e9a8;
  border: 1px solid #d8e9a8;
}
.course__img img {
  width: 50px;
  height: 50px;
  color: #d8e9a8;
  margin: 10px 5px;
}
.subtitle {
  margin: 10px 0;
  letter-spacing: 2px;
}
.course__info {
  margin-bottom: 10px;
}
/* End Courses Styles */

/* Services Styles */
.services {
  background-color: #1e5128;
  background-image: url(/images/bg_menu_bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px;
  width: 100%;
}
.about__service--text {
  padding: 0px 20px;
  line-height: 1.5;
  width: 70%;
  color: #d8e9a8;
}
.about__service--text h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
.about__service--text p {
  margin-bottom: 50px;
  padding-right: 90px;
  line-height: 1.5;
}
/* End Servises Styles */

/*  Ready Styles */
.ready {
  background-image: url(/images/bg_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e5128;
}
.ready__section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 50px 0px;
}
.content__text h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #d8e9a8;
}
.content__text p {
  color: #d8e9a8;
}
/*  End Ready Styles */

/* Footer styles */
.footer {
  background-color: #d8e9a8;
  color: #191a19;
  font-weight: bold;
}
.social {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.social img {
  width: 40px;
  height: 40px;
}
/* End Footer styles */

/* ============Styles Services Webpage============= */
.us_services {
  background-image: url(/images/bg_services.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__services h2 {
  text-align: center;
  width: 50%;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; */
  margin: 50px auto;
  font-size: 36px;
  color: #d8e9a8;
}
.services__text {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #d8e9a8;
}
.container__plans {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.card {
  background-color: #d8e9a8;
  padding: 20px 10px;
  min-width: 300px;
  border-radius: 5px;
  margin-bottom: 200px;
}
.card .card__title {
  color: #191a19;
  margin: 0 auto;
  padding: 50px 0px;
}
.card h3 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.card span {
  font-size: 24px;
}
.card ul {
  list-style: none;
  text-align: center;
  line-height: 3;
  margin-bottom: 40px;
}
.btn--clear {
  margin-left: 25%;
  cursor: pointer;
}
.list__change li:nth-child(n + 4) {
  color: gray;
  text-decoration: line-through;
}
/* ============Styles Contact Webpage============= */
.contact {
  background-image: url(/images/banner_contact.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__form {
  background-color: #4e9f3d;
  border-radius: 7px;
}
.contact__form img {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 50px;
}
form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-family: "Sniglet", cursive;
  font-size: 18px;
  border: none;
}
textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}
.btn--contact {
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

/* ============Styles Teachers Webpage============= */
.main__teachers,
.courses__bg {
  background-image: url(/images/teacher_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.text .teachers__title,
.text .teachers__paragraph {
  color: #191a19;
}
.text .teachers__paragraph {
  font-size: 20px;
}
.course__img .img__teacher {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
/* ============Styles sign up Webpage============= */
.signup__form{
  background-image: url(/images/icons/wave__signup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e5128;
}
.form__register{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow:  0px 5px 5px #191a19;
}
.container__loginup{
  margin: 20px;
}
.container__loginup h2 {
  text-align: left;
  margin: 0%;
}
.container-inputs{
  text-align: center;
}
.container__loginup2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__loginup2 img{
  margin-right: 20px;
  margin-top: 10px;
}
