@use "variables";


/* -------------buttons------------- */

@mixin button($border-radius, $font-size) {

  padding: 10px 25px;
  background-color: variables.$palette-color1;
  border-radius: $border-radius;
  border: 1px solid variables.$palette-color2;
  font-family: variables.$main-font;
  font-weight: bold;
  text-decoration: none;
  font-size: $font-size;
  cursor: pointer;
  margin: 40px 0;
  transition: all .2s;

  &:hover {
    background-color: variables.$palette-color3;
    color: variables.$palette-color1;
    border: 1px solid variables.$palette-color1;
  }
}

/* go to up button */

.go-top-container {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 5.5rem;
  height: 5, 5rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s;
  }
}

.show {
  z-index: 10;

  .go-top-button {
    animation: popup 0.5s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
  }

  img {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }

  50% {
    width: 8rem;
    height: 8rem;
  }

  100% {
    width: 5.5rem;
    height: 5.5rem;
  }
}