@use "variables";
@use "components" as c;

.header {
  background-color: variables.$palette-color1;
  position: sticky;
  top: 0;
  border-bottom: 3px solid variables.$palette-color2;
  box-shadow: 2px 2px 5px variables.$palette-color2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  width: 100px;
}

#btn-menu {
  display: none;
  &:checked ~ .nav {
    margin: 0;
  }
}

.img-menu {
  display: block;
  width: 30px;
}

.nav {
  position: absolute;
  top: 67px;
  left: 0;
  background-color: variables.$palette-color1;
  width: 100%;
  margin-left: -100%;
  transition: margin 0.3s;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 2px solid variables.$palette-color2;
    width: 100%;
    text-align: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    a {
      text-decoration: none;
      color: variables.$palette-color3;
      font-weight: bold;
      &:hover {
        color: variables.$palette-color1;
      }
    }
  }
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: variables.$palette-color1;
}

/*===============Banner Styles ===========*/
.main {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(25%2c 26%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M535.33 75.81 a111.03 111.03 0 1 0 222.06 0 a111.03 111.03 0 1 0 -222.06 0z' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M881.64 397.87 a117.76 117.76 0 1 0 235.52 0 a117.76 117.76 0 1 0 -235.52 0z' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M74.624%2c375.005C115.932%2c372.789%2c146.203%2c339.683%2c165.281%2c302.978C182.693%2c269.479%2c183.264%2c231.378%2c166.98%2c197.316C147.746%2c157.082%2c119.212%2c114.128%2c74.624%2c113.344C29.251%2c112.547%2c-1.809%2c154.124%2c-23.53%2c193.968C-44.093%2c231.686%2c-55.079%2c275.934%2c-34.603%2c313.699C-13.274%2c353.038%2c29.939%2c377.402%2c74.624%2c375.005' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M509.79 482.16 a123.99 123.99 0 1 0 247.98 0 a123.99 123.99 0 1 0 -247.98 0z' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M722.585%2c563.363C748.927%2c562.3%2c770.574%2c543.308%2c781.94%2c519.521C791.876%2c498.728%2c784.874%2c475.88%2c774.129%2c455.493C762.329%2c433.104%2c747.823%2c408.782%2c722.585%2c406.9C694.878%2c404.834%2c669.689%2c422.631%2c655.754%2c446.668C641.774%2c470.782%2c640.454%2c500.486%2c654.306%2c524.673C668.24%2c549.004%2c694.57%2c564.494%2c722.585%2c563.363' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M643.03 503.78 a106.93 106.93 0 1 0 213.86 0 a106.93 106.93 0 1 0 -213.86 0z' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M343.418%2c435.277C401.855%2c435.122%2c458.022%2c402.305%2c482.543%2c349.262C504.279%2c302.245%2c475.727%2c252.326%2c448.311%2c208.378C423.119%2c167.996%2c391.014%2c126.44%2c343.418%2c126.246C295.589%2c126.051%2c262.458%2c167.006%2c237.036%2c207.519C209.217%2c251.851%2c180.857%2c302.586%2c203.006%2c350.005C227.843%2c403.18%2c284.728%2c435.433%2c343.418%2c435.277' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-15.04 68.7 a107.52 107.52 0 1 0 215.04 0 a107.52 107.52 0 1 0 -215.04 0z' fill='rgba(30%2c 81%2c 40%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  text-align: center;
  h2 {
    color: variables.$palette-color1;
    font-size: 36px;
    margin-bottom: 40px;
  }
}
.text__paragraph {
  color: variables.$palette-color1;
  margin-bottom: 50px;
}
.img__banner {
  display: none;
}
.btn {
  @include c.button(10px, 15px);
}

/*===Courses Styles ===*/
.courses {
  background-color: variables.$palette-color4;

  .allcourses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px 0;
  }
  .courses__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;

    h2 {
      color: variables.$palette-color2;
      margin-bottom: 30px;
      font-size: 36px;
      text-align: center;
    }
    .line{
      width: 10%;
      border: 3px solid variables.$palette-color2;
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 50px;
      line-height: 1.5;
      text-align: center;
    }
  }
}
